@import "tailwindcss";
@import "./fonts.css";

  #Navbar{
      font-family: 'Antonio' !important;
  }

  body{
    background-color: #FBF7EE;
    font-family: 'Stinger', 'Antonio';
    scroll-behavior: smooth;
  }

  #NavbarLinks {
    transition: all 0.3s ease-in-out;
    overflow: hidden; 
}


  .hero-video::after{
    content: "";
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    background: linear-gradient(90deg,#8d0a04,#8d0b04,#8d0b0497, #b20e0543);
  }

  ::selection {
    background-color: #b11801; /* Yellow background */
    color: #FBF7EE; /* Black text */
  }
  

  ::-webkit-scrollbar{
    /* display: none; */
  }

  .meal-shadow{
    filter: blur(10px);
  }


  
  .branch-card{
    box-shadow: -14px 14px 20px rgba(0, 0, 0, 0.150);
  }

  .soon::before{
    content: "s";
    position: absolute;
    display: flex;
    align-items: center; justify-content: center;
    background: linear-gradient(217deg, rgba(158, 36, 29, 0.97) 5.33%, rgba(46, 7, 5, 0.97) 102.18%);


    filter: blur(20px);
    left: 0; top: 0;
    height: 100%; width: 100%;
    scale: 1.1 ;
  }
  .soon::after{
    content: "Opening Soon...";
    font-size: 2.4rem;
    color: white;
    display: flex;
    align-items: center; justify-content: center;
    position: absolute;
    background-color: rgba(88, 8, 8, 0);
    filter: blur(0px);
    overflow: hidden;
    left: 0; top: 0;
    height: 100%; width: 100%;
  }
 

  .minilogo{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }